{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!--[ daily sales section ] start-->
                    <div class="col-md-6 col-xl-6">
                        <div class="card daily-sales">
                            <div class="card-block">
                                <h4 class="mb-4">Daily P&L</h4>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>₹
                                            {% if daypnl %}
                                            {{ daypnl }}
                                            {% else %}
                                            0.00
                                            {% endif %}
                                        </h3>
                                    </div>

                                    <div class="col-3 text-right">
                                        <p class="m-b-0">5.2%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 5%;"
                                        aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ daily sales section ] end-->
                    <!--[ Monthly  sales section ] starts-->
                    <div class="col-md-6 col-xl-6">
                        <div class="card Monthly-sales">
                            <div class="card-block">
                                <h4 class="mb-4">Absolute P&L</h4>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>
                                            ₹
                                            {% if abspnl %}
                                            {{ abspnl }}
                                            {% else %}
                                            0.00
                                            {% endif %}
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">49%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 49%;"
                                        aria-valuenow="49" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Monthly  sales section ] end-->
                    <!--[ year  sales section ] starts-->
                    <div class="col-md-12 col-xl-4">
                        <div class="card yearly-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Holdings</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>₹

                                            {% if holdings %}
                                            {{ holdings }}
                                            {% else %}
                                            0.00
                                            {% endif %}
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">50.3%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ year  sales section ] end-->
                    <!--[ Recent Users ] start-->

                    <!--[ Recent Users ] end-->

                    <!-- [ statistics year chart ] start -->
                    <div class="col-xl-4 col-md-6">
                        <!-- <div class="card card-event">
                            <div class="card-block">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col">
                                        <h5 class="m-0">Upcoming Event</h5>
                                    </div>
                                    <div class="col-auto">
                                        <label class="label theme-bg2 text-white f-14 f-w-400 float-right">34%</label>
                                    </div>
                                </div>
                                <h2 class="mt-3 f-w-300">45<sub class="text-muted f-14">Competitors</sub></h2>
                                <h6 class="text-muted mt-4 mb-0">You can participate in event </h6>
                                <i class="fab fa-angellist text-c-purple f-50"></i>
                            </div>
                        </div> -->
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-zap f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">
                                            {% if holdingsCount %}
                                            {{ holdingsCount }}
                                            {% else %}
                                            0
                                            {% endif %}</h3>
                                        <span class="d-block text-uppercase">Total STOCKS</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">
                                            {% if positionsCount %}
                                            {{ positionsCount }}
                                            {% else %}
                                            0
                                            {% endif %}</h3>
                                        <span class="d-block text-uppercase">TOTAL POSITIONS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ statistics year chart ] end -->
                    <!--[ year  sales section ] starts-->
                    <div class="col-md-12 col-xl-4">
                        <div class="card yearly-sales">
                            <div class="card-block">
                                <h6 class="mb-4">Positions</h6>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>₹
                                            {% if positions %}
                                            {{ positions }}
                                            {% else %}
                                            0.00
                                            {% endif %}
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">1.5%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 2%;"
                                        aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form method="POST"> {% csrf_token %}
                        {{form}}
                        <button type="submit" name="status" class="btn btn-primary btn-block"
                            value="Refresh">Refresh</button>
                        <input type="hidden" name="form_type" value="formRefreshIndex">
                    </form>
                    <!--[ year  sales section ] end-->



                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}