{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <!-- <h5 class="m-b-10">Form Elements</h5> -->
                        </div>
                        <!-- <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Investing Segment</h5>
                            </div>
                            <div class="card-body">
                                <h5>Stock Trade</h5>
                                <hr>
                                <form method="post"> {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- <form> -->
                                            <div class="form-group">
                                                {{form}}
                                                <!-- <label>Stock Name</label>
                                                <input type="text" name="stockcode" class="form-control"
                                                    placeholder="NSE CODE">
                                                <label>Quantity</label>
                                                <input type="text" class="form-control" placeholder="Quantity">
                                                <label for="limitPrice">Limit Price</label>
                                                <input type="text" id="limitPrice" class="form-control"
                                                    placeholder="Limit Price"> -->
                                            </div>
                                            <!-- <div class="form-group">

                                            </div>
                                            <div class="form-group">

                                            </div> -->

                                            <!-- <div class="form-group">
                                                                                <label for="exampleInputEmail1">Email address</label>
                                                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                                                    aria-describedby="emailHelp" placeholder="Enter email">
                                                                                <small id="emailHelp" class="form-text text-muted">We'll never share
                                                                                    your email with anyone else.</small>
                                                                            </div> -->
                                            <!-- <div class="form-group">
                                                <label for="exampleFormControlSelect1">Example select</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div> -->
                                            <!-- <div class="form-group">
                                                                                <label for="exampleInputPassword1">Password</label>
                                                                                <input type="password" class="form-control" id="exampleInputPassword1"
                                                                                    placeholder="Password">
                                                                            </div>
                                                                            <div class="form-group form-check">
                                                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                                                            </div> -->
                                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                                            <!-- </form> -->
                                        </div>
                                        <div class="col-md-6">
                                            <!-- <form> -->
                                            <!-- <div class="form-group">
                                                                                <label>Text</label>
                                                                                <input type="text" class="form-control" placeholder="Text">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="exampleFormControlSelect1">Example select</label>
                                                                                <select class="form-control" id="exampleFormControlSelect1">
                                                                                    <option>1</option>
                                                                                    <option>2</option>
                                                                                    <option>3</option>
                                                                                    <option>4</option>
                                                                                    <option>5</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                                                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                                                                    rows="3"></textarea>
                                                                            </div> -->
                                            <div class="form-group">
                                                <label for="startsession">BUY OR SELL</label>
                                                <button type="submit" name="action" value="buy"
                                                    class="btn btn-primary btn-block" id="startsession">BUY</button>
                                                <button type="submit" class="btn btn-outline-danger btn-block"
                                                    name="action" value="sell">
                                                    SELL</button>

                                            </div>
                                            <!-- </form> -->
                                        </div>
                                    </div>
                                    <input type="hidden" name="form_type" value="formInvest">
                                </form>
                                <hr>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>HOLDINGS</h5>
                                                <!-- <span class="d-block m-t-5">use class <code>table</code> inside table
                                                    element</span> -->
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Stock Name</th>
                                                                <th>Last Price</th>
                                                                <th>Quantity</th>
                                                                <th>P&L</th>
                                                                <th>Avg. Price</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% if holdinglist %}
                                                            {% for holding in holdinglist %}
                                                            <tr>
                                                                <th scope="row">{{forloop.counter}}</th>
                                                                <td>{{holding.tradingsymbol}}</td>
                                                                <td>{{holding.last_price}}</td>
                                                                <td>{{holding.quantity}}</td>
                                                                <td>{{holding.pnl}}</td>
                                                                <td>{{holding.average_price}}</td>
                                                            </tr>

                                                            {% endfor %}
                                                            {% else %}

                                                            <tr>
                                                                <th scope="row">0</th>
                                                                <td>NA</td>
                                                                <td>NA</td>
                                                                <td>NA</td>
                                                                <td>NA</td>
                                                                <td>NA</td>
                                                            </tr>

                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <h5 class="mt-5">Sizing</h5>
                                 -->
                            </div>
                        </div>

                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}